.vscode/**
.vscode-test/**
.github/**
src/**
webviews/**
out/**
node_modules/**
webpack.config.js
.eslintrc.json
.prettierrc.json
.gitignore
.gitattributes
.env
.env.example
tsconfig.json
CONTRIBUTING.md
CODE_OF_CONDUCT.md
**/*.ts
**/*.map
